# Endereço do servidor local (sb-gatehouse)
SERVER_HOST=localhost
SERVER_PORT=8001
SERVER_TIMEOUT=5

# Portas dos leitores RFID
RFID_PORT_IN=/dev/ttyUSB0
RFID_PORT_OUT=/dev/ttyUSB1

# Hardware
MOCK_HARDWARE=false
RFID_MODE=hid
